.profileSelectionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0.6;
}

.profile:hover {
    transform: scale(1.05);
    opacity: 1;
}

.profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.profileName {
    font-size: 1.2em;
    color: #d6a060;
}