.sideMenu {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  margin-bottom: 60px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
  margin-bottom: 20px;
}

.menuItem {
  display: block;
  color: white; /* 기본 텍스트 색상 */
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.menuItem:hover {
  background-color: #444;
}

.activeMenuItem {
  background-color: #4CAF50; /* 선택된 메뉴 항목의 배경색 */
  color: white; /* 선택된 메뉴 항목의 텍스트 색상 */
  font-weight: bold; /* 선택된 메뉴 항목의 폰트를 굵게 설정 */
  border-radius: 4px; /* 선택된 메뉴 항목의 모서리 둥글게 */
}
