.text {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.container,
.textContainer,
.textContainer1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.textContainer {
  flex: 1;
  align-items: center;
  padding: var(--padding-11xl);
  min-width: 519px;
}
.container,
.textContainer1 {
  align-items: flex-start;
}
.textContainer1 {
  flex: 1;
  border-left: 1px solid var(--black-15);
  padding: var(--padding-11xl) var(--padding-10xl);
  min-width: 519px;
}
.container {
  align-self: stretch;
  border-bottom: 1px solid var(--black-15);
  flex-wrap: wrap;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 825px) {
  .textContainer,
  .textContainer1 {
    min-width: 100%;
  }
}
