.imageIcon {
  align-self: stretch;
  height: 146px;
  position: relative;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.addIcon,
.playIcon,
.playIcon1,
.playIcon2 {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-21xl);
  min-height: 32px;
}

.controls {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.playIcon3 {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-21xl);
}

.controlBar,
.reveal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.controlBar {
  align-self: stretch;
  gap: var(--gap-9xl);
}

.emptyAge,
.match {
  align-self: stretch;
  position: relative;
}

.match {
  flex: 1;
  line-height: 24px;
  color: var(--green);
}

.emptyAge {
  width: 12px;
  display: inline-block;
}

.age,
.ageRestrictions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.age {
  align-self: stretch;
  flex: 1;
  border: 1px solid var(--text-light-primary);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-6xs);
}

.ageRestrictions {
  height: 22px;
  width: 28px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  font-family: var(--font-roboto);
}

.season {
  width: 51px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}

.hd,
.hd1,
.season {
  align-self: stretch;
}

.hd1 {
  width: 11px;
  position: relative;
  line-height: 16px;
  display: inline-block;
}

.hd {
  flex: 1;
  border-radius: var(--br-9xs);
  border: 1px solid var(--text-light-primary);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-8xs);
}

.hd,
.qualityIndicators,
.showInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.qualityIndicators {
  height: 22px;
  width: 23px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-5xs);
  font-family: var(--font-roboto);
}

.showInfo {
  width: 192px;
  height: 24px;
  flex-direction: row;
  gap: var(--gap-5xs);
}

.mystery {
  align-self: stretch;
  width: 45px;
  position: relative;
  line-height: 18px;
  display: inline-block;
}

.genreSeparator {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}

.genreSeparatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}

.thriller {
  align-self: stretch;
  width: 40px;
  position: relative;
  line-height: 18px;
  display: inline-block;
}

.sciFiSeparator {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dimgray);
}

.sciFiSeparatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}

.scienceFiction {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
}

.genre,
.info,
.Tile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.genre {
  width: 207px;
  height: 18px;
  flex-direction: row;
  gap: var(--gap-5xs);
}

.info,
.Tile {
  flex-direction: column;
  flex-shrink: 0;
}

.info {
  align-self: stretch;
  background-color: var(--bg-header);
  padding: var(--padding-5xl);
  gap: var(--gap-base);
  opacity: 0;
}

.Tile {
  height: 146px;
  flex: 1;
  border-radius: var(--br-9xs);
  overflow: hidden;
  padding: 0 var(--padding-46xl);
  box-sizing: border-box;
  min-width: 253px;
  max-width: 100%;
  z-index: 3;
  margin-left: -49px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--text-light-primary);
  font-family: var(--font-open-sans);
}

@media screen and (max-width: 450px) {
  .Tile {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}