.thumbnail {
    width: 90%;
    height: 300px;
    /* 고정된 높이 */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 5%;
}

.thumbnail img,
.thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.thumbnail video {
    z-index: 0;
    opacity: 0;
}

.thumbnail:hover {
    transform: scale(1.05);
    /* 확대 비율 조정 */
    z-index: 2;
}

.thumbnail:hover img {
    opacity: 0;
}

.thumbnail:hover video {
    opacity: 1;
}