.headerBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}

.a,
.logoText2 {
  position: relative;
}

.logoText2 {
  height: 55px;
  width: 278px;
  object-fit: contain;
  z-index: 2;
}

.hidden {
  display: none;
}

.a {
  text-decoration: none;
  align-self: stretch;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}

.iconButton {
  flex: 0 0 auto;

  margin: 0 16px;
}

.fesearchIcon,
.faSolidbellIcon,
.homeButtonIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.iconButton:hover {
  cursor: pointer;
}

.homeButton,
.searchNav,
.notificationsNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBackgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  width: 32px;
  height: 32px;
  object-fit: cover;
  z-index: 1;
}

.antDesigncaretDownFilledIcon {
  position: absolute;
  top: 8px;
  left: 37px;
  width: 19px;
  height: 16px;
  overflow: hidden;
  z-index: 1;
}

.profileNav {
  height: 32px;
  flex: 1;
  position: relative;
}

.homeNav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm);

}

.header,
.Header,
.navigation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.header,
.Header {
  flex-direction: row;
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-38xl) var(--padding-4xs) var(--padding-8xl);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}


.Header {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-120xl-6);
}

@media screen and (max-width: 1250px) {
  .header {
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}

.clickableDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;


}

.clickableDiv:hover .dropdownMenu,
.dropdownMenu:hover,
.iconButton:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 100;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdownItem {
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.dropdownItem img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.dropdownItem:hover {
  background-color: #949494;
}

.clickableDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;

}

.disabledItem {
  pointer-events: none;
  cursor: default;
  color: #d6a060;

}