.thumbnail {
    width: 90%;
    height: 300px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 5%;
    background-color: black;
}

.thumbnail img,
.thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10%;
}

.thumbnail img {
    z-index: 1;
}

.thumbnail video {
    z-index: 2;
    opacity: 0;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail:hover img {
    opacity: 0;
}

.thumbnail:hover video {
    opacity: 1;
}