.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: auto;
}


.loading {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.error {
  text-align: center;
  font-size: 24px;
  color: red;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.playerWrapper {
  position: relative;
  width: 100%;
  height: 80%;
}

.reactPlayer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.controlButton {
  color: white;
  background-color: black;
  border: 2px solid #d6a060;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.controlButton:hover {
  background-color: #d6a060;
  border-color: white;
}

.volumeSlider {
  width: 6px;
  height: 80px;
}

.seekSlider {
  flex: 1;
  margin: 0 10px;
}

.time {
  margin-left: 10px;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  background-color: black;
}

.section {
  flex: 1;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 1px solid #333;
  max-width: 800px;
  margin-top: 0;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #d6a060;
  padding-bottom: 5px;
  color: #d6a060;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  font-size: 18px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
}

.listItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.visible {
  opacity: 1;
  transition: opacity 0.3s;
}

.volumeControl {
  display: flex;
  align-items: center;
  position: relative;
}

.showSlider .volumeSlider {
  opacity: 1;
  transition: opacity 0.3s;
}

.volumeSlider {
  width: 6px;
  height: 80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sectionTitle {
  color: white;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  position: relative;
}

.tileRows {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.tile {
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  height: auto;
  margin: 16.4px;
  flex: 0 0 auto;
  width: 100%;
}

.sliderContainer {
  margin-top: 20px;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: visible;
}

.slick-prev,
.slick-next {
  z-index: 1;
  color: #d6a060;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.leftArrow {
  left: -40px;
}

.rightArrow {
  right: -40px;
}

.tagButton {
  background-color: transparent;
  color: #d6a060;
  border: 1px solid #d6a060;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.tagButton:hover {
  background-color: #d6a060;
  color: #fff;
  border-color: #fff;
}

.likeButtonWrapper {
  background: black;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* 최상단 위치 설정 */
}

.likeButton {
  color: white; /* 버튼 텍스트 색상 */
  border-radius: 50%;
  padding: 10px;
  font-size: 24px;
  z-index: 10000;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.whiteIcon {
  color: white;
  z-index: 100000;
}
