.dashboardPage {
  display: flex;
  height: 98vh; /* 전체 페이지의 높이를 살짝 줄입니다 */
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-top: 70px;
}

.sideMenu {
  width: 220px;
  background-color: #333;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 15px;
  overflow-y: auto;
  width: calc(100% - 220px); /* 전체 너비에서 사이드 메뉴 너비를 제외 */
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 18px; /* 카드들 사이의 간격을 살짝 줄입니다 */
  margin-right: 18px; /* 오른쪽으로 마진을 조금 줄입니다 */
  width: 240px;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  gap: 18px; /* 컬럼 내 카드들 사이의 간격을 살짝 줄입니다 */
  flex: 1;
}

.row {
  display: flex;
  gap: 18px; /* 두 카드 사이의 간격을 조금 줄입니다 */
}

.card {
  padding: 14px; /* 카드의 내부 패딩을 조금 줄입니다 */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  flex: 1;
}

.card.fullWidth {
  width: 100%;
}

.card.halfWidth {
  flex: 1 1 50%; /* "방문자 수 변동량" 카드의 너비를 60%로 설정 */
}

.card.halfWidthSmaller {
  flex: 1 1 50%; /* "최근 많이 본 영화" 카드의 너비를 40%로 설정 */
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .card.fullWidth {
    width: 100%;
  }

  .card.halfWidth, .card.halfWidthSmaller {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .leftColumn {
    width: 100%;
    margin-right: 0;
  }

  .mainColumn {
    width: 100%;
  }

  .card.fullWidth, .card.halfWidth, .card.halfWidthSmaller {
    flex: 1 1 100%;
  }
}
