.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/netflix-sign-up-background-page-1@2x.png');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 검정 오버레이 */
  z-index: 0;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  /* 로고 크기 조정 */
  z-index: 1;
}

.title {
  font-size: 3rem;
  /* 글씨 크기 키움 */
  font-weight: bold;
  color: white;
  margin: 0;
}

.subtitle {
  font-size: 2rem;
  /* 글씨 크기 키움 */
  color: white;
  margin: 10px 0;
}

.description {
  font-size: 1.25rem;
  /* 글씨 크기 키움 */
  color: white;
  margin: 20px 0;
}

.landingInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-roboto);
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.inputFields {
  display: flex;
  margin-top: 20px;
}

.emailInput {
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin-right: 10px;
  width: 400px;
  height: 40px;
  flex: 1;
  color: black;
  background-color: white;
}

.getStartedButton {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--color-sandybrown);
  border-radius: 4px;
  border: none;
  width: 200px;
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-roboto);
}

.getStartedButton:hover {
  background-color: #a36e2e;
}

.landing {
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.75rem;
  }

  .description {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1050px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .description {
    font-size: 0.8rem;
  }
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchBar {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}