.loginPage {
    background-color: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1552px;
    width: 100%;
    align-items: start;
    padding: 42px 53px 80px;
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

.backgroundImage {
    position: absolute;
    background-size: cover;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
}

.logo {
    aspect-ratio: 1.47;
    object-fit: auto;
    object-position: center;
    width: px;
}

.loginForm {
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    align-self: center;
    display: flex;
    flex-direction: column; /* Change to column */
    margin-top: 0px;
    width: 610px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 68px 60px;
}

@media (max-width: 991px) {
    .loginForm {
        margin-top: 40px;
        padding: 0 20px;
    }
}

.formContent {
    display: flex;
    margin-bottom: 23px;
    width: 400px;
    max-width: 100%;
    flex-direction: column;
}

.formTitle {
    font: 500 50px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .formTitle {
        font-size: 40px;
    }
}

.inputField {
    border-radius: 10px;
    background-color: #575757;
    margin-top: 34px;
    white-space: nowrap;
    padding: 30px 15px;
    font: 100 18px Roboto, sans-serif;
    width: 300px;
}

@media (max-width: 991px) {
    .inputField {
        padding-right: 20px;
        white-space: initial;
    }
}

.forgotPassword {
    text-align: right;
    align-self: end;
    margin: 19px 27px 0 0;
    font: 300 14px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .forgotPassword {
        margin-right: 10px;
    }
}

.loginButton {
    border-radius: 10px;
    background-color: #d6a060;
    margin-top: 20px; /* Decrease the margin top */
    white-space: nowrap;
    text-align: center;
    padding: 27px 60px;
    font: 700 24px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .loginButton {
        margin-top: 40px;
        white-space: initial;
        padding: 0 20px;
    }
}

.helpText {
    position: relative;
    margin: 179px 0 0 147px;
    font: 300 14px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .helpText {
        margin: 40px 0 0 10px;
    }
}

.footerLinks {
    position: relative;
    display: flex;
    width: 761px;
    max-width: 100%;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    justify-content: space-between;
    margin: 58px 0 0 147px;
}

@media (max-width: 991px) {
    .footerLinks {
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

.linkColumn {
    font-family: Roboto, sans-serif;
    line-height: 24px;
}

.singleLink {
    font-family: Roboto, sans-serif;
    align-self: start;
}

.languageSelector {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    margin: 57px 0 7px 147px;
    padding: 12px 11px;
    border: 1px solid #fff;
}

@media (max-width: 991px) {
    .languageSelector {
        white-space: initial;
        margin: 40px 0 0 10px;
    }
}

.languageIcon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 20px;
    align-self: stretch;
}

.languageText {
    font-family: Roboto, sans-serif;
    align-self: stretch;
    margin: auto 0;
}

.arrowIcon {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 12px;
    align-self: stretch;
    margin: auto 0;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
